<div class="ca-c-card">
    <div class="ca-c-card__header">
        <div class="credit-card__header-title">
            <img class="credit-card__header-icon" src="assets/icons/icon-credit-card.png" alt="Icone Cartão de Crédito" />
            <h1>Cartão de Crédito</h1>
        </div>
    </div>
    <div class="ca-c-card__content">
        <div class="credit-card__content-item">
            <p>
                1234567891011 <br />
                FELIPE DA SILVA FREITAS
            </p>

            <p>MASTER CARD</p>
        </div>

        <div class="credit-card__content-item">
            <p>Limite de Compra</p>

            <p>R$ 1000,00</p>
        </div>

        <div class="credit-card__content-line"></div>

        <div class="credit-card__content-item">
            <p>Disponível</p>

            <p>R$ 1200,00</p>
        </div>

        <div class="credit-card__content-item">
            <p>Limite de Saque</p>

            <p>R$ 2000,00</p>
        </div>

        <div class="credit-card__content-line"></div>

        <div class="credit-card__content-item">
            <p>Disponível</p>

            <p>R$ 1300,00</p>
        </div>

        <div class="credit-card__content-item">
            <p>Limite Total Utilizado</p>

            <p>R$ 3000,00</p>
        </div>
    </div>
</div>