<div class="ca-c-card">
    <div class="ca-c-card__header balance-card__header">
        <div class="balance-card__header-title">
            <img class="balance-card__header-icon" src="assets/icons/icon-hand.png" alt="Icone Saldos" />
            <h1>Saldos Disponíveis</h1>
        </div>
        <p>
            R$ 100,00
        </p>
    </div>
    <div class="ca-c-card__content">
        <div class="balance-card__content-item">
            <p>Conta Corrente</p>
            <p>R$ 200,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Conta Corrente Saldo Vinculados</p>
            <p>R$ 300,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Conta Poupança Saldo Vinculados</p>
            <p>R$ 400,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Investimentos com Baixa Automática</p>
            <p>R$ 500,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Investimentos sem Baixa Automática</p>
            <p>R$ 500,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-summary">
            <div class="balance-card__content-item">
                <p>SALDO TOTAL</p>
                <p>R$ 1000,00</p>
            </div>

            <div class="balance-card__content-item">
                <p>LIVRE PARA MOVIMENTAÇÃO</p>
                <p>R$ 1000,00</p>
            </div>
        </div>
    </div>
</div>
