<div class="ca-c-card">
    <div class="ca-c-card__header balance-card__header">
        <div class="balance-card__header-title">
            <img class="balance-card__header-icon" src="assets/icons/icon-hand.png" alt="Icone Saldos" />
            <h1>Saldos Disponíveis</h1>
        </div>
        <p>
            R$ 100,00
        </p>
    </div>
    <div class="ca-c-card__content">
       <app-card-item text="Conta Corrente" value="R$ 200,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Conta Corrente Saldo Vinculados" value="R$ 300,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Conta Poupança Saldo Vinculados" value="R$ 400,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Investimentos com Baixa Automática" value="R$ 500,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Investimentos sem Baixa Automática" value="R$ 500,00"></app-card-item>

        <app-card-line></app-card-line>

        <div class="balance-card__content-summary">
            <app-card-item text="SALDO TOTAL" value="R$ 1000,00"></app-card-item>

            <app-card-item text="LIVRE PARA MOVIMENTAÇÃO" value="R$ 1000,00"></app-card-item>
            
        </div>
    </div>
</div>
