<div class="ca-c-card">
    <div class="ca-c-card__header ca-c-card__header--bg-blue">
        <div class="client-infos-card__header-title">
            <img class="client-infos-card__header-icon" src="assets/icons/icon-client.png" alt="Icone do Cliente" />
            <h1>Informações do Cliente</h1>
        </div>
    </div>
    <div class="ca-c-card__content">
               
        <app-card-item text="Nome" value="Wesley Caldeira de Oliveira"></app-card-item>

        <div class="client-infos-card__content-line"></div>

        <div class="client-infos-card__content-item"></div>

        <app-card-item text="Idade" value="29 anos"></app-card-item>
            
        <div class="client-infos-card__content-line"></div>

        <div class="client-infos-card__content-item"></div>

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>
    
        <div class="client-infos-card__content-line"></div>

        <div class="client-infos-card__content-item"></div>
        <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
    </div>
            
    </div>

