<div class="ca-c-card">
  <div class="ca-c-card__header ca-c-card__header--bg-blue">
   <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
  </div>
  <div class="ca-c-card__content">
    <app-card-item
      text="Nome"
      value="Wesley Caldeira de Oliveira"
    ></app-card-item>

    <app-card-line></app-card-line>

    <div class="client-infos-card__content-item"></div>

    <app-card-item text="Idade" value="29 anos"></app-card-item>

    <app-card-line></app-card-line>

    <div class="client-infos-card__content-item"></div>

    <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>

    <app-card-line></app-card-line>

    <div class="client-infos-card__content-item"></div>
    <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
  </div>
</div>
